{
  "version" : "2018-05-29",
  "operation" : "PutItem",  
  "key": {
    "link" : $util.dynamodb.toDynamoDBJson($context.arguments.link)    
  },
  "attributeValues": {
    "userId" : $util.dynamodb.toDynamoDBJson($context.identity.username)
  },
  "condition" : {
      "expression" : "attribute_not_exists(link)"
  }
}