{
  "version" : "2018-05-29",
  "operation" : "PutItem",  
  "key": {
    "id" : $util.dynamodb.toDynamoDBJson($context.identity.username),
    "sessionTime" : $util.dynamodb.toDynamoDBJson($ctx.args.sessionTime)
  },
  "attributeValues": {
    "contactName" : $util.dynamodb.toDynamoDBJson($ctx.args.contactName),
    "contactEmail" : $util.dynamodb.toDynamoDBJson($ctx.args.contactEmail),
    "duration" : $util.dynamodb.toDynamoDBJson($ctx.args.duration),
    "userTimezone" : $util.dynamodb.toDynamoDBJson($ctx.args.userTimezone),
    "message": $util.dynamodb.toDynamoDBJson($ctx.args.message)
  },
  "condition" : {
      "expression" : "attribute_not_exists(id) and attribute_not_exists(sessionTime)"
  }
}