{
  "version" : "2018-05-29",
  "operation" : "PutItem",  
  "key": {
    "id" : $util.dynamodb.toDynamoDBJson($context.identity.username),
    "shortName" : $util.dynamodb.toDynamoDBJson($ctx.args.shortName)
  },
  "attributeValues": {
    "eventName" : $util.dynamodb.toDynamoDBJson($ctx.args.eventName),
    "duration": $util.dynamodb.toDynamoDBJson($ctx.args.duration)
  },
  "condition" : {
      "expression" : "attribute_not_exists(id) and attribute_not_exists(shortName)"
  }
}